html,body {
    margin: 0; padding: 0;
}

.wrapper-brands,.text-wrapper,.wrapper-product-catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.wrapper-brands >div {
    padding: 5px;
    padding-top: 10px;
}

.text-viwrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 27px;
    font-family: Arial;
    letter-spacing: .7px;
}

.text {
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 27px;
    color: #0B4366;

}

h2 {
    text-align: center;
}

.text-wrapper >div {
    width: 90%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
}
.video-item {
    width: 80%;
    height: 80%;
}

.video-text-wrapper {
    position:absolute;
    
    
}

.text-item {
    color: white;
    font-size: 40px;
    padding: 30px;
    text-align: center;
    font-family: Arial;
}

.text-wrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 88%;
    width: 100%;
    /*flex-wrap: wrap;*/
    
}

.overlay {
    background-color: rgb(0 0 0 / 72%);
    width: 84%;
    height: 100%;
}

.wraper-section {
    max-width:1600px;
    margin: auto;
}
.product-item {
    width: 400px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    text-align: center;
    height: 320px;
    background-color: #fff;
}

.headline-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-item-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.product-item-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}




.wrapper-trade-marks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 90%; */
    max-width: 1610px;
    margin: auto;
}
.item-trade-marks {
    
    padding: 8px;
    /*border: 1px solid #E6E6E6;*/
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #007bff;
}

.product-item-text > a {
    color:black;
    font-size: 19px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    /* Добавляем подчеркивание */
    color: #007bff;
}

/* .product-item-text > a > span {
    color:black;
} */

.section-company-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 86%; */
    margin:auto;
    max-width: 1650px;
}
.production-wrapper {
    background-image: url(img/mask_group.jpg);
    
    height: 425px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-size: cover;
    /* margin: 5px; */
    /*border-right: 2px solid #f2f2f2;
    background-size: cover;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 75px;
    */
    
    
}

.trade-marks {
    background-image: url(img/mask_group-2.jpg);
}

.contakt-marks {
    background-image: url(img/mask_group-3.jpg);
}

.project-marks {
    background-image: url(img/mask_group-4.jpg);
}

.ekt-pro-marks {
    background-image: url(img/mask_group-5.jpg);
}
.zero {
    width: 304px;
    /* border: 1px solid #E6E6E6; */
    box-sizing: border-box;
    padding: 10px;
}
.production-title {
    opacity: 0.9;
    font-size: 22px;
    height: 90px;
    padding-top: 20px;
    padding-left: 12px;
    background-color: #fff;
    width: 92%;
    font-weight: 600;
    font-family: "PT Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    /*margin-left: -15px;
    padding-left: 15px;
    padding-top: 20px;
    line-height: 26px;
    */
}

.production-about-text {
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 12px;
    line-height: 26px;
    font-family: "PT Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.product-item-text> a >span{
font-family: Arial;
letter-spacing: .7px;
font-size: 27px;
color: #363636;
font-weight: bold;
}

@media (min-width: 624px) and (max-width: 900px) {
    .text-item {
    font-size: 20px;
    padding: 10px;
    }
}

@media (min-width: 200px) and (max-width: 299px) {
    .text-item {
    font-size: 6px;
    padding: 4px;
    }
    .text {
        font-size: 15px;
    }
}

@media (min-width: 421px) and (max-width: 623px)  {
    .text-item {
    font-size: 13px;
    padding: 10px;
    }
}

@media (min-width: 300px) and (max-width: 420px) {
    .text-item {
    font-size: 10px;
    padding: 4px;
    }
    .text {
        font-size: 29px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .text-item {
        padding: 2px;
        font-size: 30px;
    }
}

@media (min-width:1200px) and (max-width: 1600px) {
    .section-company-wrapper {
        width: 69%;
    }

    .wrapper-trade-marks {
        width: 70%;
    }
}

/* @media (min-width:2100px) and (max-width: 2500px) {
    .wrapper-trade-marks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
    }
} */

/* @media (min-width:1900px) and (max-width: 2500px) {

    .section-company-wrapper {
        width: 80%;
    }


} */
